# Twilio Configuration
TWILIO_ACCOUNT_SID="***********"
TWILIO_AUTH_TOKEN="*****************"
TWILIO_PHONE_NUMBER="+123456789"
PRIMARY_SMS_NUMBER="+123456789"
SECONDARY_SMS_NUMBER="+123456789"
# Gmail SMTP Configuration - app password setup required
GMAIL_USERNAME="******@gmail.com"
GMAIL_PASSWORD="**** **** **** ****"
EMAIL_RECIPIENTS="*****@gmail.com"
